In [12]:
import pandas as pd
import time
import mysql.connector
from datetime import datetime, timedelta
import numpy as np

In [13]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():
        sql_texts.append('INSERT INTO '+TARGET+' (' +
                         str(', '.join(SOURCE.columns)) + ') VALUES ' + str(tuple(row.values)))
    return sql_texts

In [14]:
def dias_mes():
    mes_ = int(datetime.today().month)
    match mes_:
        case 1:
            return 31
        case 2:
            return 28
        case 3:
            return 31
        case 4:
            return 30
        case 5:
            return 31
        case 6:
            return 30
        case 7:
            return 31
        case 8:
            return 31
        case 9:
            return 30
        case 10:
            return 31
        case 11:
            return 30
        case 12:
            return 31

mes = dias_mes()

In [15]:
banco = mysql.connector.connect(
    host="mysql.nerusconsultoria.com.br",
    user="nerusconsultor02",
    passwd="0l1d3ranca2",
    database="nerusconsultor02"
)

cursor = banco.cursor()

comando_sql = '''SELECT ca.id AS ID,ca.empresa AS Cliente,cc.operador,ca.meta_num,int_hj.interessados FROM nerusconsultor02.cadastro_clientes AS ca
                LEFT JOIN (SELECT CONCAT(cliente_id_fk) AS id,COUNT(*) AS interessados FROM sales_base_leads 
			    WHERE EXTRACT(YEAR_MONTH FROM ultima_resposta) = EXTRACT(YEAR_MONTH FROM CURRENT_TIMESTAMP) 
                AND status_interested_id_level_fk = 1 GROUP BY cliente_id_fk) AS int_hj ON int_hj.id = ca.id
                JOIN carteira_clientes AS cc ON cc.id = ca.operador_fk 
                WHERE ca.status != 0 AND ca.campanha_pausada = 1 AND ca.id != 20 AND ca.id !=22'''

cursor.execute(comando_sql)

valores_lidos = cursor.fetchall()

df_base = pd.DataFrame(valores_lidos)

In [16]:
df_base = df_base.rename(columns={0:"id", 1:"empresa",2:"carteira",3:"meta_num",4:"int_hj"})

In [21]:
hoje = datetime.today().weekday()

if hoje == 0:
    data_verif = datetime.today() - timedelta(3)
else:
    data_verif = datetime.today() - timedelta(1)

hj = int(datetime.today().strftime('%d'))
tx = 1/mes
tx_hj = hj*tx

df_base['tx_hj'] = tx_hj

df_base['meta_hj'] = round(df_base['meta_num']*df_base['tx_hj'])

df_base['result'] = np.where(df_base['int_hj'] >= df_base['meta_hj'], 1, 0)

df_base['data_verif'] = data_verif.strftime('%Y-%m-%d')

df_entrada = df_base[['id','result','data_verif']]

display(df_entrada)
#display(df)
#display(df_base)

      id  result  data_verif
0     10       1  2022-06-03
1     13       1  2022-06-03
2     23       0  2022-06-03
3     24       0  2022-06-03
4     68       1  2022-06-03
..   ...     ...         ...
139  637       0  2022-06-03
140  639       0  2022-06-03
141  640       0  2022-06-03
142  641       0  2022-06-03
143  642       0  2022-06-03

[144 rows x 3 columns]

In [22]:
total = df_base['id'].count()

bateu = df_entrada.query('result == 1')

result_meta_dia = (bateu['id'].count()/total)*100

print(result_meta_dia)

print(df_entrada['id'].count())
print(df_base['id'].count())

26.38888888888889
144
144

In [23]:
comando_sql = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_entrada, "meta_diaria_python")

for st in comando_sql:
    cursor.execute(st)

banco.commit()

["INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (10, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (13, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (23, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (24, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (68, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (75, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (97, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (127, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (128, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (141, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (200, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (204, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (220, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (223, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (226, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (228, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (249, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (251, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (290, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (293, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (309, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (316, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (333, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (336, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (346, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (348, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (356, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (357, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (361, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (377, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (403, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (416, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (418, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (432, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (449, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (457, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (463, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (471, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (476, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (477, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (478, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (481, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (484, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (491, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (494, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (504, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (513, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (515, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (523, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (526, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (530, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (536, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (537, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (542, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (553, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (554, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (562, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (567, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (569, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (588, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (590, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (591, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (594, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (597, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (600, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (603, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (606, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (608, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (613, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (619, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (620, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (622, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (624, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (626, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (628, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (629, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (634, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (636, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (638, 1, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (40, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (178, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (294, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (315, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (329, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (379, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (380, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (382, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (429, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (445, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (453, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (456, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (459, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (466, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (467, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (468, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (479, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (483, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (485, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (488, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (492, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (495, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (509, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (519, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (521, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (524, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (538, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (543, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (544, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (547, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (555, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (557, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (558, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (568, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (570, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (571, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (574, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (575, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (578, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (579, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (580, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (587, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (593, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (596, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (602, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (604, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (605, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (607, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (609, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (610, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (616, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (617, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (618, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (621, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (625, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (627, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (630, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (631, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (632, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (633, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (637, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (639, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (640, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (641, 0, '2022-06-03')", "INSERT INTO meta_diaria_python (id, result, data_verif) VALUES (642, 0, '2022-06-03')"]